:root[data-theme="dark"] {
  --topbar-bg-color: #2f3542;
  --topbar-txt-color: #ffffff;

  --sidebar-bg-color: #1e272e;
  --sidebar-txt-color: #dcdde1;

  --main-content-bg-color: #2d3436;
  --main-content-txt-color: #ffffff;

  --footer-bg-color: #353b48;
  --footer-txt-color: #dcdde1;

  --primary-color: #00aaff; /* Electric blue */
  --secondary-color: #a29bfe; /* Soft lavender */
  --danger-color: #ff6b6b; /* Warm coral */
  --success-color: #55efc4; /* Mint green */
  --alert-color: #ffeaa7; /* Soft gold */
}
