:root[data-theme="light"] {
  --topbar-bg-color: #dcdde1;
  --topbar-txt-color: #1e272e;

  --sidebar-bg-color: #f1f2f6;
  --sidebar-txt-color: #2f3542;

  --main-content-bg-color: #f7f2f2;
  --main-content-txt-color: #2d3436;

  --footer-bg-color: #dcdde1;
  --footer-txt-color: #2f3542;

  --primary-color: #007acc; /* Bright azure blue */
  --secondary-color: #8e44ad; /* Deep purple */
  --danger-color: #e74c3c; /* Vibrant red */
  --success-color: #2ecc71; /* Fresh green */
  --alert-color: #f1c40f; /* Bold yellow */
}
