@use "../../theme/variables.scss" as vars;
.topbar-container {
  padding: 0.5rem;
  color: vars.$topbar-txt-color;
}
.topbar-btn {
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  font-size: 1.5rem;
}
.mat-mdc-button {
  &.mat-btn-primary {
    background-color: vars.$secondary-color;
    opacity: 0.8;
    color: #fff;
  }
}
