<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="d-flex justify-content-end">
        <button class="toggle-btn" (click)="toggleSidebar()">
          <span class="mdi mdi-menu"></span>
        </button>
    </div>

  <ul class="menu">
    <li (click)="navigateTo('')">
      <i class="icon-home">
        <span class="mdi mdi-home"></span>
      </i>
      @if (!isCollapsed) {
          <span>Home</span>
      }
    </li>
    <li (click)="navigateTo('tasks')">
      <i class="icon-tasks">
        <span class="mdi mdi-calendar-check-outline"></span>
      </i>
      @if (!isCollapsed) {
          <span>Tasks</span>
      }
    </li>
    <li (click)="navigateTo('calendar')">
      <i class="icon-calendar">
        <span class="mdi mdi-calendar-edit-outline"></span>
      </i>
      @if (!isCollapsed) {
          <span>Calendar</span>
      }
    </li>
    <li (click)="navigateTo('notes')">
      <i class="icon-calendar">
        <span class="mdi mdi-note-multiple-outline"></span>
      </i>
      @if (!isCollapsed) {
          <span>Notes</span>
      }
    </li>
  </ul>
</div>
