.sidebar {
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 1rem;
  color: #ddd;

  &.collapsed {
    width: 60px;

    .toggle-btn {
      margin-bottom: 1rem;
    }
  }

  .toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      .icon-home,
      .icon-tasks,
      .icon-calendar {
        margin-right: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}
