@use "./theme/variables.scss" as vars;

.app {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content"
    "menu footer";
  grid-template-columns: auto 3fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.topbar {
  grid-area: header;
  background-color: vars.$topbar-bg-color;
}

.sidebar {
  grid-area: menu;
  background-color: vars.$sidebar-bg-color;
  width: 200px;
  transition: all 0.3s ease;
  overflow: hidden;
  &.collapsed {
    width: 60px;
  }
}

.main-content {
  grid-area: content;
  background-color: vars.$main-content-bg-color;
  color: vars.$main-content-txt-color;
}
.footer {
  grid-area: footer;
  background-color: vars.$footer-bg-color;
  color: vars.$footer-txt-color;
}
